h1 {
  color: hotpink;
  font-family: cursive;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 249);
  color: rgb(65, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

form {
  box-sizing: border-box;
  background-color: lighgray;
  border: 4px solid hsl(0, 0%, 90%);
}

label {
  color: hotpink;
  padding: 0px 5px;
  font-weight: bold;
  display: block;
}

.form-control {
  padding: 10px 20px;
  margin:5px 15px;
  border-radius:10px;
	border: 0px;
	font: inherit;
  height: 44px;
  width: 90%;
	background-color: white;
}

